*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}


#main{
    min-height: 50vh;
    width: 100%;
    background: linear-gradient(130deg, rgb(63, 221, 142), rgb(63, 170, 202), rgb(206, 63, 219));
    background-size: cover;
    position: relative;
}
#main-1{
    min-height: 40vh;
    width: 80%;
    background-color: rgba(15, 81, 83, 0.479);   
    margin: 0 auto;
    text-align: center;
    padding: 30px;
     
}
.header{
    font-size: 40px;
text-align: center;
padding-bottom: 20px;
padding-top: 20px;
color: rgba(27, 42, 83, 0.829);

}
#image{
    width: 90%;
    margin: 0 auto;
    padding-top: 50px;

}
#img-caption{
    text-align: center;
    font-size: large;
    color: rgb(47, 241, 9);
    font-weight: bold;
}
#tribute-info{
    line-height: 1.8;
    font-size: large;
    font-weight:bold;
}
#unordered-list{
font: bold;
padding: 30px;

}
#footer{
    background-color: rgba(48, 90, 114, 0.534); 
    color: rgb(63, 21, 65);
    text-align: center;
    font-weight: bold;
    padding-bottom: 10px;
}
#tribute-link{
    color: rgba(160, 175, 194, 0.788);
    font-weight: bold;
    
}

@media(max-width: 500px)
{
        
    #img-caption{
        font-size: small;
        font-weight: lighter;
    }
    #tribute-info{
        font-size:xx-small;
        font-weight: bold;
    }

    #footer{
        font-size: small;
        bottom: 70px;
        position: relative;
        bottom: 100px;
    }
    


    

    
}

